#title_subtitle {
  text-align: center;
}

#original_items,
#cloned_items {
  list-style: none;
}

#original_items li {
  float: left;
  position: relative;
  z-index: 5;
}

#original_items {
  height: 320px;
}

#checked_order {
  text-align: center;
  color: #8b0000;
  font-size: xx-large;
  height: 30px;
  padding: 1px;
}

ul li {
  margin: 3px 3px 3px 0;
  padding: 1px;
  width: 300px;
  height: 300px;
  font-size: 4em;
  text-align: center;
  border: solid 1px #b22222;
  background-color: #f8f8ff;
}

#cloned_items li {
  position: absolute;
  z-index: 1;
}
h1 {
  font-weight: bolder;
  color: #5390d9;
}
