html, body {
    height: 800px;
    width: 100%;
    background-color: white;
}

#master-container {
    position: relative;
    width: 100%;
    padding-top: 40%;
    height: auto;
}

#header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 20px;
}

div.question-container {
    position: absolute;
    float: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 0;
    left: 40%;
    transform: translateX(-50%);
    height: 100%;
    width: 65%;
    background-image: url("../img/slide_46_matching_games.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 480px) { 
    html, body {
        height: 800px;
    }

    div#master-container {
        height: 800px;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    html, body {
        height: 1000px;
    }

    div#master-container {
        height: 1000px;
    }
}

@media screen and (max-width: 480px), only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    div#master-container {
        padding-top: 0;
    }

    div.question-container {
        left: 0;
        transform: none;
        width: 100%;
        background-size: 100% 49%;
    }

    div.answer {
        margin: 1vw !important;
        font-size: 2.5vw !important;
        display: inline-block !important;
    }

    div.answer-container {
        top: 55% !important;
        left: 5% !important;
        width: 90% !important;
        height: 15% !important;
    }

    div.word-bank {
        width: 90% !important;
        height: 100% !important;
    }

    /* div.submit-container {
        top: 120% !important;
        padding-top: 0 !important;
    } */
    
     div.button-container {
        position: relative;
        top: 120% !important;
         left: 15%;
        text-align: center;
        display: inline;
        padding: 2%;
     }
     
    div.hint-container {
        top: 130% !important;
        padding-top: 0 !important;
    }

    #hint {
        font-size: 3vw !important;
        padding: 10px 30px !important;
    }
    #submit {
        font-size: 3vw !important;
        padding: 10px 30px !important;
    }
}

div.answer {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: 2%;
    font-size: 1.4vw;
    display: block;
}

div.answer-container {
    position: absolute;
    top: 0;
    left: 75%;
    width: 15%; 
    height: 70%;
}

div.word-bank {
    position: absolute;
    left: 5%;
    right: 5%;
    width: 80%;
    height: 85%;
    border: 2px solid black;
}

div.button-container {
    position: relative;
    top: 90%;
    left: 30%;
    text-align: center;
    display: inline;
    padding: 2%;
}

#submit {
    font-size: 1vw;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}


#hint {
    font-size: 1vw;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

/* styling of the individual answer blanks */
.dropBox {
    position: absolute;
    background: #34A0FF;
    border: 2px solid black;
    text-align: center;
    color: black;
    font-weight: 700;
}
.drpBox {
    position: absolute;
    background: #34A0FF;
    border: 2px solid black;
    text-align: center;
    color: black;
    font-weight: 700;
}

.dropBox.answer-hover {
    background: yellow;
}

.dropBox.has-answer.answer-hover {
    background: yellow;
}

.dropBox.has-answer {
    background: sandybrown;
}

.dropBox > .answer {
    margin: 0px;
}

.dropBox.has-answer.correct {
    background: #94FFBE;
}

.dropBox.has-answer.incorrect {
    background: #BB2525;
}

/*div.hint{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity: 0.9;
    background-color: white;
    visibility: hidden;
}

div.hint-content{
    position: absolute;
    width: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    height: 30%;
    margin:auto;
} */

#result {
    position: absolute;
    top: 95%;
    font-size: 1.5vw;
    font-weight: bold;
    float: center;
}