body {
    font-size: 15px;
}

#master-container{
    position: relative;
    width: 100%;
    padding-top: 50%;
}
	.q1{
		top:175px;
	}
	.q2{
		top:260px;
	}
	.q3{
		top:340px;
	}
	.q4{
		top:433px;
	}
div.question-container {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 100px;
    height: 640px;
    width: 720px;
    background-image: url(slide53_1.png);
    background-repeat: no-repeat;
    background-size: 70%;
}


div.answer-container{
	position: absolute;
    top: 60px;
    left: 70%;
    width: 235px;
    height: 380px;
    opacity: 1.0;
    background-color: white;
}
div.word-bank{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 2%;
    bottom: 20%;
    padding: 3%;
    border: 2px solid black;
}
div.submit-container{
    position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
}
#submit{
    font-size: 1.5vw;
    width: 30%;
}

.question{
    position: absolute;
    border: 2px solid black;
    background: #34A0FF;
    text-align: center;
}

.crossout{
    position: absolute;
    border: 2px solid black;
    background: white;
    text-align: center;
}
.whitespace{
    position: absolute;
    background: white;
    text-align: center;
}
.question.answer-hover{
    background: #FFC707;
}

.question.has-answer.answer-hover{
    background: #FFC707;
}
.question.has-answer{
    background: white;
}
.question > .answer{
    margin: 0px;
}

div.hint{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity: 0.9;
    background-color: white;
    visibility: hidden;
}

.q12
		


div.hint-content{
    position: absolute;
    width: 100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    height: 30%;
    margin:auto;
}

@media screen and (max-width: 920px) {
	div.submit-container {
		
	}
	
	div.question-container {
		width: 420px;
		height: 360px;
	}

	div.answer-container{
		top: 400px;
		left: 145px;
		width: 200px; 
		height: 250px
	}
		.q1{
		top:102px;
		
		}
		.q12
		{font-size: 7px !important;
			
		}
		.q22
		{font-size: 7px !important;
			
		}
		.q32
		{font-size: 7px !important;
			
		}
		.q42
		{font-size: 7px !important;
			
		}
		
	.c1{
		top:98px;
	}
	.q2{
		top:153px;
		
	}
	.c2{
		top:149px;
	}
	.q3{
		top:200px;
		
	}
	.c3{
		top:196px;
	}
	.q4{
		top:250px;
	
	}
	.c4{
		top:246px;
	}

}