body {
	min-height: 700px !important; 
  max-height: 700px !important; 
background-image: url("quiz_bg_1.png");
  font-family: Arial, Helvetica, sans-serif;
}

.currQuizStatus {
  width: 250px;
  margin: auto;
  text-align: center;
  color: rgb(20, 1, 1);
  background-color: #96bfe7;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
}

#navContent {
  margin: auto;
  width: 800px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

#currQuestion {
  margin: auto;
  width: 800px;
  height: 900px;
  right: 0px;
  position: absolute;
}

.quizOptions {
  margin-left: 60px;
}

#nextQuestion {
  margin: auto;
  width: 800px;
  height: 400px;
  right: -800px;
  position: absolute;
}

header {
  padding: 10px 10px 0px 10px;
}

.options {
  width: 180px;
  height: 180px;
  margin: 15px;
  float: left;
  border: 5px solid white;
  cursor: pointer;
}

.right {
  border: #009900 solid 5px;
}

.wrong {
  border: #e3230b solid 5px;
}

.options:hover {
  border: #fafa09 solid 5px;
}

#banner {
  height: 50px;
  width: 700px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  color: rgb(253, 250, 250);
  background-color: #90bd14;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 100px;
}

.spacer {
  height: 20px;
}

.spacer2 {
  height: 20px;
}

.feedback1 {
  width: auto;
  padding: 5px;
  font-size: 30px;
  color: white;
  background-color: #009900;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 300px;
}

.feedback2 {
  margin-left: 50px;
  width: auto;
  padding: 5px;
  font-size: 30px;
  color: white;
  background-color: #cc3300;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 300px;
}

#next {
  width: 200px;
  padding: 7px;
  font-size: 20px;
  color: white;
  background-color: rgb(62, 149, 247);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: absolute;
  top: 300px;
  right: 50px;
  border-radius: 100px;
}

#next:hover {
  background-color: rgb(4, 92, 192);
  cursor: pointer;
}

#questionText {
  font-size: 35px;
  text-align: center;
  margin: auto;
}
